<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <h6><em>
    <p>Password requires</p>
    <ul>
      <li>at least 10 characters</li>
      <li>a number</li>
      <li>a lowercase and uppercase letter</li>
      <li>a special character, @ # $ % ^ & + = </li>
    </ul>
    </em></h6>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


<!-- FIGURE OUT WHERE THE CSS IS FOR THIS IE STYLESHEETS? -->